<!DOCTYPE html>
<div class="container">
  <div class="row">
  	<div style="text-align:center;"> 
  	<h1>New to Angular.js?</h1>
  	<div class="image">
  	<img src ="http://orig01.deviantart.net/d472/f/2013/333/8/2/angularjs_by_abhishekghosh-d6w57fs.png" style=
  	"center;">
  </div>
  	<body>
  	<p>AngularJS is a JavaScript framework. It can be added to an HTML page with a script tag.
	AngularJS extends HTML attributes with Directives, and binds data to HTML with Expressions.</p>
	<br>
	<p><a href="http://www.w3schools.com/angular/angular_intro.asp">Interested in learning more?</a></p>
	<br>
	<p><a href="https://www.codeschool.com/courses/shaping-up-with-angular-js">Help the Flatlanders build a store!</a></p>
	</body>
</div>
</div>
</html>





